



    body {
        font-family: 'Merriweather', serif;
        font-weight: 800;
        font-style: normal;
    }







    .carousel {
        height: 800px; /* Ajusta este valor según tus necesidades */
    }
    
    .carousel-inner {
        height: 100%; /* Asegura que las imágenes ocupen toda la altura del carrusel */
    }
    
    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Cubre todo el contenedor, manteniendo la proporción */
    }



    /* Estilo para las imágenes del carrusel */
    .carousel-item img {
        max-width: 55%; /* Estilo para pantallas grandes */
        height: auto;
        margin: 0 auto;
    }
    
    @media (max-width: 500px) { /* Estilo para pantallas pequeñas (móviles) */
        .carousel-item img {
            max-width: 85%; /* Ajusta este valor según tus necesidades */
        }
    }

    h1 {
        text-align: center;
    }






/* Asegura que el botón del menú esté por encima del carrusel */
.navbar-toggler {
    z-index: 1000; /* Un valor alto para asegurar que esté por encima */
    position: relative; /* Necesario para que z-index funcione */
}

